*-build-*
*.a
*.app
*.autosave
*.dll
*.dylib
*.excludes
*.json
*.la
*.lai
*.lo
*.moc
*.o
*.pro.user
*.pro.user.*
*.qmlproject.user
*.qmlproject.user.*
*.slo
*.so
*.xcf
.DS_Store
.prefix_default.mk
/.qmake.cache
/.qmake.stash
Makefile*
cool-retro-term
imports
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
