[Desktop Entry]
Type=Application
Name=Cool Retro Term
GenericName=Terminal emulator
Comment=Use the command line the old way
TryExec=cool-retro-term
Exec=cool-retro-term
Icon=cool-retro-term
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;
StartupNotify=true
StartupWMClass=cool-retro-term
Terminal=false
